Аксиология в переводе с древнегреческого: ἀξία «ценность» + λόγος «слово, учение», предмет изучения — ценности, их значение и структура в реальном мире, в связи социальных и культурных факторов личности и общества.
<br>
Вопрос о ценностях, в общем определении, становится особенно актуальным во времена критического осмыслений традиций, когда растет напряжение в взглядах на идеалы у различных групп. Кризис демократии подтолкнул Сократа задать вопрос: “Что есть благо?”. Попытка ответить - есть основа теории ценностей.
<br>
Гартман предлагает свой взгляд на иерархию ценностей: удовольствие - целесообразность - красота - нравственность. Макс Шелер предлагает уделить внимание тому, что выявление ценностей и их соотношений возможно при осмыслении чувственного взаимодействия с миром: предпочтения и пренебрежения, любовь/ненависть.
<br>
Основные подходы:
<ul>
 <li>
  Натуралистический психологизм. Идея теории в том, что то, что биопсихологические потребности человека порождают естественную систему ценностей, их возможно измерить и зафиксировать как нормы. Представители: Мейнонг, Перри, Дьюи, Льюис, Тугаринов.
 </li>
 <li>
  Социологизм. Теория пытается определить существование общих ценностей, разделяемых членами групп, выявляя суть социальных отношений и институтов. Одним из первопроходцев - Вебер, интерпретирующий взаимодействие субъекта и социума, что в дальнейшем продолжила школа структурно-функционального анализа (Толкотт Парсонс)ю
 </li>
</ul>

