Эпистемология (с древнегреческого “научное знание” + ”слово”) философская дисциплина, которая исследует знание, как оно структурируется, как построено, как функционирует и развивается. Довольно часто слово “эпистемология” используется как синоним гносеологии.
<br>
Основная тема эпистемологии это отношение объекта и знания. Изучается сама сущность познания и ее формы, такие как&nbsp; наука, религия, искусство и др. Посредством разделения на уровни познания (эмпирический и теоретический) философы выявляют внутреннюю связь между явлением и сущностью. Выделенные структуры и формы помогают в получении знания.
<br>
Не отвечая на основные вопросы о познании мира, философия не может выполнять свои задачи. Еще в древние времена, когда поднимались&nbsp; вопросы о принципах познания мира, вопрос о том как получать знания решался по-разному. Эпистемология рассматривает несколько форм познания:
<br>
<ul>
 <li>
  Познание чувствами, на уровне представлений, восприятия и ощущений.
 </li>
 <li>
  Сверхчувственное познание, познание за рамками чувств: интуиция , метафизика. Это распространено в практиках религиозных мистиков.
 </li>
 <li>
  При помощи умозаключений, понятий, суждений, т.е. на уровне абстракций — рациональное познание. Люди могут строить модели развития событий, оценивать результаты своего участия во взаимодействии.
 </li>
</ul>
<br>
Методами познания занимаются не только философы, есть ряд таких наук, как когнитивная психология, научная методология, история науки, социология знания, но цельно познание является предметом и рассматривается философией.

